:root {
    font-family: Verdana, sans-serif;
}

button:not(.main button) {
    background-color: #00008B;
    color: #F9F5EC;
}

body {
    height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header, .add-book-container{
    flex-grow: 1;
}

.header, .add-book-container, .main {
  padding: 15px;
}

.header {
    display: flex;
    justify-content: space-between;
    max-height: 8.3vh;
}

h1, h2, h3 {
    margin: 0;
}

button{
    width: 100px;
}

.add-book-container{
    display: flex;
    justify-content: center;
    max-height: 8.3vh;
}

.form-popup {
    position: fixed;
    top: 0;
    border: 5px solid #f1f1f1;
    display: none;
    justify-self: center;
    align-self: center;
}

form {
    background-color: #D3D3D3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 50px;
}

form .exit{
    border-radius: 25px;
    position: absolute;
    width: 25px;
    height: 25px;
    right: 0;
    top: 0;
}

.main {
    flex-grow: 2;
    height: 100%;
    display: grid;
    background: pink;
    gap: 20px;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    overflow: scroll;
}

.main button:not(.remove) {
    color: #F9F5EC;
}


.book {
    background-color: white;
    border-radius: 25px;
    width: 22vw;
    height: 33vh;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

button {
    border-radius: 5px;
}

.book-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }



