body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-rows: 1fr 1fr 10fr;
}

.header, .add-book-container, .main {
  padding: 15px;
}

.header {
    display: flex;
    justify-content: space-between;
}

h1, h2, h3 {
    margin: 0;
}

button{
    width: 100px;
}

.add-book-container{
    display: flex;
    justify-content: center;
}

.form-popup {
    position: fixed;
    top: 0;
    border: 5px solid #f1f1f1;
    display: none;
    justify-self: center;
    align-self: center;
}

form {
    background-color: #D3D3D3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 50px;
}

form .exit{
    border-radius: 25px;
    position: absolute;
    width: 25px;
    height: 25px;
    right: 0;
    top: 0;
}

.main {
    display: grid;
    background: pink;
    gap: 20px;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}


.book {
    background-color: white;
    padding: 15px;
    width: 66%;
    height: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.book-container {
    background-color: yellow;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}



